.dark
{
	background: #222;
	color: #fff;
}

.title
{
	color: #c1ffad;
	margin-bottom: 5px;
	margin-top: 0px;
	text-align: center;
}

.description
{
	font-style: italic;
	text-decoration: underline;
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: bold;
}

.wrapper
{
	background: #21371a;
	display: inline-block;
	border-left: #fff 1px solid;
	border-right: #f00 1px dashed;
	border-top: #0f0 1px solid;
	border-bottom: #00f 1px dashed;
	padding: 20px;
	margin: 5px; 
}

.chase
{
	width: 160px;
}