html
{
	background-image: url(images/bg_page.png) repeat-y;
}

.box
{
	width: 760px;

	margin: 10px auto;
	padding: 15px;

	border-radius: 5px;
}

.heading
{
	padding: 10px;
	margin: 15px auto;
	display: block;
	width: 120px;
	
	text-shadow: 2px 2px 10px #000;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;

	color: magenta;
	font-style: italic;

	background-image: linear-gradient(45deg, black, blue 50%, white);
	border: 3px dashed red;
}

p
{
	font-family: Baskerville, sans-serif;
	font-size: 20px;
}

h1 + p
{
	margin: 40px auto;
}

h2
{
	margin: 0 auto 30px 0;
	font-style: italic;
	text-decoration: underline;
}

.copyright
{
	background-color: rgba(255, 0, 0, 0.3);
	float: bottom;
}